body {
  background-color: #A8C6E2;

  font-family: fantasy;

  flex-wrap: wrap;

  justify-content: center;
}

h1{
  padding-left: 40px;
  padding-right: 25px;
}

#tomato{
  width: 175px;
  height: 170px;

  background-image: url('/Users/menagdd/Desktop/pomodorotimer/thetomato.png');

  background-size: cover;

  background-repeat: no-repeat;

}

#startBtn{
  width:120px;

  height: 40px;

  background-color: #5287CC;

  border: none;

  border-radius: 8px;
}

#startBtn:hover{
  background-color: #3f689e;
}
