body {
  background-color: #A8C6E2;

  font-family: fantasy;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;
}

#tomatoholder{
  width: 175px;
  height: 170px;
}

#space{
  height:5px;
  width:100%;
}

#tomato{
  width: 175px;
  height: 170px;
}

#timer{
  font-size: 25px;

  line-height: 0;
}

#startBtn{
  width:120px;

  height: 40px;

  background-color: #5287CC;

  border: none;

  border-radius: 8px;
}

#startBtn:hover{
  background-color: #3f689e;
}

#stopBtn{
  width:0px;

  height:0px;

  background-color: #5287CC;

  border: none;

  border-radius: 8px;

  visibility: hidden;
}

#stopBtn:hover{
  background-color: #3f689e;
}
